.out
	position: relative
	overflow: hidden
.outer
	margin: 0 auto
	max-width: 1920px
	padding: 0 30px
	+clr
	+xxl
		min-height: calc(100vh - 121px) 
		display: flex
		flex-wrap: wrap 
		align-items: center
	&__trigger
		position: absolute
		top: 0
		left: 0
		z-index: 5
		width: 235px
		height: 100%

.inner
	float: right
	max-width: 1705px
	width: 100%

