// CUSTOM COLUMN SIZES

// $column-sizes: 5, 10, 15, 18, 20, 25, 30, 33.33, 35, 40, 45, 46, 50, 55, 54, 60, 65, 66.66, 70, 72, 80, 82, 85, 90, 100
// $padding: 15px

// @each $size in $column-sizes
//   .col-#{round($size)}
//     flex: 0 0 $size * 1%
//     min-width: $size
//     padding-left: $padding
//     padding-right: $padding

// .row
//   display: flex
//   flex-wrap: wrap
//   margin: 0 -#{$padding}

// [class*='col']
//   padding: 0 $padding

// GENERATE GRID EXAMPLE
// CUSTOM PADDING ON BREAKPOINTS - NOT INCLUDED IN MIXIN
// +generate_grid($columns: 3, $sizeXs: false, $sizeSm: false, $sizeMd: false, $sizeLg: true, $padding: 30px)

.outer
  float: right
  max-width: 1840px
  padding: 0 30px
  width: 100%

.inner
  padding-left: 77px

.section
  min-height: 100vh
  height: 100%
  // padding-top: 135px
  &__outer

  &__inner
    height: calc(100vh - 135px)
    display: flex
    flex-wrap: wrap
    // margin: 0 -15px
  &__left
    +flex-size(27.5%)
    padding: 0 88px 0 0
    +cover
    &_border
      position: relative
      &:after
        content: ''
        position: absolute
        right: 0
        top: 45px
        bottom: 37px
        width: 1px
        background-color: $textLight
  &__right
    +flex-size(72.5%)
    padding-left: 156px
    position: relative
    +cover
  // &__bg
  //   width: 100%
  //   height: 100%
  //   +cover
  &__splitter-horiz
    height: 1px
    width: 100%
    background-color: $text
  &__title-lg
    margin-bottom: 60px
  &__title-md
    margin-top: 210px
    margin-bottom: 50px
  .section__text
    margin-bottom: 60px
    p:not(:last-child)
      margin-bottom: 24px
  // .fp-tableCell
  //   vertical-align: top
  //   height: calc(100vh - 135px) !important
  &_selling
    // background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%)
    .section__text
      margin-top: 50px
      // margin-bottom: 50px
      p:not(:last-child)
        margin-bottom: 24px
  &__download-btn
    display: inline-block
    position: relative
    height: 50px
    &:after
      content: ''
      position: absolute
      top: -50px
      left: -50px
      width: 150px
      bottom: -50px
      border-radius: 50%
      background-color: rgba(red, 0.3)
      z-index: 1
    // &:hover:after
    //     background-color: green
    .circle-btn
      position: relative
      z-index: 3
  &__hr-btn
    margin-top: 103px
  &_investment,
  &_career
    .section__right,
    .section__left
      background-color: $darkBg
  &_development
    .section__inner
      background-color: $textLight
  &_contacts
    color: $white
    .section__inner
      background-color: $blue
    .section__right
      background-color: $darkBlue
      background-position: 0 0
  &__adress
    .adress:not(:last-child)
      margin-bottom: 24px
  &__contacts-title
    margin-top: 100px
    margin-bottom: 50px
