.title
  font-size: 48px
  font-weight: 700
  line-height: 1.2
  letter-spacing: -0.004em

.title-lg
  font-size: 62px
  font-weight: 300
  line-height: 1.2
  letter-spacing: -0.002em
  color: $textBlack

.text-light
  color: $textLight

