---
title: Index page
---
{# {% import "partials/_mixins.html" as mixins %} #}
{% extends "layouts/_layout.html" %}

{% block content %}
  {# partial example #}
  {% include "partials/_header.html" %}
  <div class="fullpage js-fullpage fp-auto-height-responsive">
    {% include "partials/_hero.html" %}
    {{ selling.section({ 
      id: 'selling',
      title: 'Купить квартиру <br>в Москве',
      bg: 'selling_bg_Russia.png',
      text: '<p>В нашем портфолио собраны несколько тысяч уникальных планировок квартир бизнес-класса в новостройках. Эксперты компании досконально владеют актуальной информацией о состоянии рынка жилой недвижимости в Москве.</p>
      <p>Мы анализируем цены, спрос и предложение, помогаем одобрить ипотеку, получить рассрочку от застройщика, другие скидки, сопровождаем все этапы сделки без потерь.</p>
      '
    }) }} 
    {{ selling.section({
      id: 'selling-euro',
      title: 'Купить квартиру <br>в Европе',
      bg: 'selling_bg_Europe.png',
      text: '<p>Наши эксперты экономят десятки тысяч евро на этапе поиска подходящего объекта жилищного фонда за рубежом.</p>
      <p>Мы максимально быстро отвечаем на запросы клиента (в течение 30 минут) и используем уникальные технологии презентации объектов (виртуальное посещение отдела продаж).</p>'
    }) }}
    <section class="js-section sections-wrapper js-sections-wrapper" data-anchor="investment">
      {% include "partials/_investment.html" %} 
      {% include "partials/_development.html" %}
      {% include "partials/_career.html" %}
    </section>
    {% include "partials/_contacts.html" %}
  </div>
  {% include "partials/_modal.html" %}
  {# mixin example #}
  

  

{% endblock %}
