<section class="section section_career">
    <div class="section__outer outer">
      <div class="section__inner inner">
        <div class="section__left section__left_border" style='background-image: url(img/office-woman.png);'>
        </div>
        <div class="section__right text-light">
          <div class="section__title-md">
            <h2 class="title">Карьера</h2>
          </div>
          <div class="section__text text-block">
            <p>
                Это союз профессионалов, экспертов и креативных людей каждый из которых обладает опытом работы более 5 лет и компетенциями, покрывающими деловые,финансовые, правовые и технические аспекты нашей деятельности.
            </p>
          </div>
          <div class="section__download-btn-wrapper">
            <div class="section__download-btn-area js-download-field">{{ mixins.downloadBtn() }}</div>
          </div>
          <div class="section__hr-btn">
            {{ mixins.animatedMainBtn({ text: 'Отправить заявку HR’у' }) }}
          </div>
        </div>
      </div>
    </div>
  </section>