<section class="section section_career">
    <div class="section__outer outer">
      <div class="section__inner inner"  data-scroll-trigger data-anim-group data-duration-anim='0.7'>
        <div class="section__left section__left_border" data-anim='image-from-left'>
          <div class="section__bg" style='background-image: url(img/office-woman.png);'></div>
        </div>
        <div class="section__right text-light">
          <div class="section__title-md" data-anim="from-bottom">
            <h2 class="title">Карьера</h2>
          </div>
          <div class="section__text text-block" data-anim="from-bottom">
            <p>
                Это союз профессионалов, экспертов и креативных людей каждый из которых обладает опытом работы более 5 лет и компетенциями, покрывающими деловые,финансовые, правовые и технические аспекты нашей деятельности.
            </p>
          </div>
          <div class="section__download-btn-wrapper">
            <div class="section__download-btn-area js-download-field">{{ mixins.downloadBtn() }}</div>
          </div>
          <div class="section__hr-btn">
            {{ mixins.animatedMainBtn({ text: 'Отправить заявку HR’у', modifier: ' btn_white' }) }}
          </div>
        </div>
      </div>
    </div>
  </section>