<section class="section section_contacts js-section" data-anchor='contacts'>
  <div class="section__outer outer">
    <div class="section__inner inner">
      <div class="section__left">
        <div class="section__contacts-title">
          <h2 class="title">Адреса компании</h2>
        </div>
        <div class="section__adress">
            {% for adress in [
              {
                city: 'Москва',
                street: 'ул. Третьяковская, 46, оф 17',
                phone: '+79 (495) 456-44-55'
              },
              {
                city: 'Цюрих',
                street: 'ул. Третьяковская, 46, оф 17',
                phone: '+79 (495) 456-44-55'
              },
              {
                city: 'Лондон',
                street: 'ул. Третьяковская, 46, оф 17',
                phone: '+79 (495) 456-44-55'
              }
            ] %}
              <div class="adress">
                <div class="adress__city-wrapper">
                  {{ mixins.icon('map-marker') }}
                  <span class="adress__city">{{ adress.city }}</span>
                </div>
                <div class="adress__street">{{ adress.street }}</div>
                <a href="tel:+74954564455" class="adress__phone">+7 (495) 33 222 11</a>
              </div>
            {% endfor %}
        </div>
      </div>
      <div class="section__right" style='background-image: url(img/map.png);'>
        
      </div>
    </div>
  </div>
</section>