<section class="section section_contacts js-section" data-anchor='contacts' data-fullpage-anim-delay='0.2' data-fullpage-anim-duration='1.2'>
  <div class="section__outer outer">
    <div class="section__inner inner" data-scroll-trigger data-anim-group data-duration-anim='0.7'>
      <div class="section__left">
        <div class="section__contacts-title" data-anim="from-bottom">
          <h2 class="title">Адреса компании</h2>
        </div>
        <div class="section__adress" data-anim="from-bottom">
            {% for adress in [
              {
                city: 'Москва',
                id: 'moscow',
                street: 'ул. Третьяковская, 46, оф 17',
                phone: '+7 (495) 456-44-55'
              },
              {
                city: 'Цюрих',
                id: 'zurich',
                street: 'ул. Третьяковская, 46, оф 17',
                phone: '+7 (495) 456-44-55'
              },
              {
                city: 'Лондон',
                id: 'london',
                street: 'ул. Третьяковская, 46, оф 17',
                phone: '+7 (495) 456-44-55'
              }
            ] %}
              <div class="adress" data-adress-trigger="{{ adress.id }}">
                <div class="adress__city-wrapper">
                  {{ mixins.icon('map-marker') }}
                  <span class="adress__city">{{ adress.city }}</span>
                </div>
                <div class="adress__street">{{ adress.street }}</div>
                <div class="adress__phone">+7 (495) 33 222 11</div>
              </div>
            {% endfor %}
        </div>
        <div class="section__splitter-horiz section__splitter-horiz_white"></div>
        <div class="section__connections" data-anim="from-bottom">
          <div class="connection">
            <div class="connection__text">
                +79 (919) 111 99 19
            </div>
            <div class="connection__links">
              <span class="connection__link">
                  {{ mixins.connectionBtn('telegram',null, 'data-anim') }}
              </span>
              <span class="connection__link">
                  {{ mixins.connectionBtn('whatsapp',null, 'data-anim') }}
              </span>
            </div>
          </div>
          <div class="connection">
            <div class="connection__text">
              willgrade
            </div>
            <div class="connection__links">
              <span class="connection__link">
                {{ mixins.connectionBtn('skype',null, 'data-anim') }}
              </span>
            </div>
          </div>
          <div class="connection">
            <a href="https://www.sparkledesign.com/" class="studio-creator" target="_blank">Sparkledesign.com</a>
          </div>
        </div>
      </div>
      <div class="section__right">
        <div class="section__map-wrap js-animated-block" data-scroll-trigger>
          <img class="section__map" src="img/map.svg" alt="map">
          <div class="map-markers">
            {% for marker in [
              {
                id: 'london',
                text: 'Лондон',
                top: '328px',
                left: '523px'
              },
              {
                id: 'zurich',
                text: 'Цюрих',
                top: '335px',
                left: '584px'
              },
              {
                id: 'moscow',
                text: 'Москва',
                top: '298px',
                left: '688px'
              }
            ] %}
              <div class="map-marker" data-adress-marker="{{ marker.id }}" style="top: {{ marker.top }}; left: {{ marker.left }}">
                <div class="map-marker__icon">{{ mixins.icon('marker') }}</div>
                <div class="map-marker__title">{{ marker.text }}</div>
              </div>
            {% endfor %}
          </div>
          <div class="map-pointers">
            {% for i in range(0,16) %}
              <div class="map-point"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>