<section class="section section_development">
    <div class="section__outer outer">
      <div class="section__inner inner">
        <div class="section__left section__left_border">
          <div class="section__title-md text-block">
            <h2 class="title">Девелопмент, разработка и реализация проекта</h2>
          </div>
          <div class="section__text">
            <p>Помогаем клиентам безопасно реализовать любой проект. Выполняем функцию девелопера и контролируем все этапы реализации сделки.<p>
            <p>Подбираем оптимальные участки под строительство, помогаем выбрать надежного генерального подрядчика и находим архитектора проекта.</p>
          </div>
          <div class="section__connect-btn">
              {{ mixins.animatedMainBtn({ text: 'Связаться с нами', modifier: ' btn_blue' }) }}
          </div>
        </div>
        <div class="section__right" style='background-image: url(img/development_bg.png);'></div>
      </div>
    </div>
  </section>