<section class="section section_development js-section-development">
  <div class="section__outer outer">
    <div class="section__inner inner" data-scroll-trigger data-anim-group='0' data-duration-anim='0.7'>
      <div class="section__left section__left_border section__left_border-dark">
        <div class="section__title-md" data-anim="from-bottom">
          <h2 class="title">Девелопмент, разработка и реализация проекта</h2>
        </div>
        <div class="section__text" data-anim="from-bottom">
          <p>Помогаем клиентам безопасно реализовать любой проект. Выполняем функцию девелопера и контролируем все этапы реализации сделки.<p>
          <p>Подбираем оптимальные участки под строительство, помогаем выбрать надежного генерального подрядчика и находим архитектора проекта.</p>
        </div>
        <div class="section__development-btn">
            {{ mixins.animatedMainBtn({ text: 'Связаться с нами', modifier: ' btn_blue' }) }}
        </div>
      </div>
      <div class="section__right" data-anim='image-from-right'>
        <div class="section__bg" style='background-image: url(img/development_bg.png);'></div>
      </div>
    </div>
  </div>
</section>