<header class="header is-transparent js-header" id="myMenu">
  <div class="header__outer outer">
    <div class="header__inner inner">
      <div class="header__burger">
        <div class="burger js-mob-toggler">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header__logo">
        <a href="#hero"  data-menuanchor="hero" class="logo">
          <img src="img/logo-dark.png" alt="logo">
        </a>
      </div>
      
      <div class="header__nav">
        <nav class="nav">
          <ul class="nav__list">
            {% for item in [
              { title: 'Продажа квартир в Москве', link: 'selling' },
              { title: 'Продажа квартир в Европе', link: 'selling-euro' },
              { title: 'Инвестиции', link: 'investment' },
              { title: 'Контакты', link: 'contacts' }
            ] %}
              <li class="nav__item" data-menuanchor="{{ item.link }}"><a href="#{{ item.link }}" class="nav__link">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <div class="sm-show header__mob-phone">
          <div class="phone">+7 (495) 33 222 11</div>
        </div>
      </div>
      <div class="header__contacts">
        <div class="header__tel">
          <div class="phone">+7 (495) 33 222 11</div>
        </div>
        <div class="lm-hide">
          <a href="#" class="btn btn_solid js-header-btn" data-modal-control="contacts-modal"><span class="btn__text">Оставить заявку</span></a>
        </div>
        <div class="lm-show">
          <a href="#" class="message-btn js-header-btn" data-modal-control="contacts-modal">
            <span class="message-btn__icon">{{ mixins.icon('message') }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>