<section class="section hero js-section" data-anchor='hero' data-scroll-trigger data-anim-group data-duration-anim='0.7'>
  <div class="hero__bg-wrapper" data-anim='image-from-bottom'>
    <div class="hero__bg" style='background-image: url(./img/hero_bg.png);'></div>
  </div>
  <div class="hero__outer outer">
    <div class="hero__inner inner">
      <div class="hero__content">
        <a href="#" class="hero__logo" data-anim="from-bottom">
          <img src="img/logo-white.png" alt="">
        </a>
        <div class="hero__title" data-anim="from-bottom">
          <h2 class="title text-black">
            Инвестиции в жилую и коммерческую недвижимость по всему миру
          </h2>
        </div>
        <div class="hero__descr text-block" data-anim="from-bottom">
          Мы осуществляем продажу квартир и коммерческой недвижимости в Москве, Великобритании, Австрии, Монако, Швейцарии, Франции, Германии и Чехии. 
        </div>
        <div class="hero__actions">
          <div class="hero__question-btn">
            {{ mixins.animatedMainBtn({ text: 'Задать вопрос', modifier: ' btn_white' }) }}
          </div>
          <div class="hero__play">
            {{ mixins.playBtn() }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

