<section class="hero section" style='background-image: url(img/hero_bg.jpg);' data-anchor='hero'>
  <div class="hero__outer outer">
    <div class="hero__inner inner">
      <div class="hero__content">
        <div class="hero__logo">
          <img src="img/logo-white.png" alt="">
        </div>
        <div class="hero__title">
          <h2 class="title text-black">
            Инвестиции в жилую и коммерческую недвижимость по всему миру
          </h2>
        </div>
        <div class="hero__descr">
          Мы осуществляем продажу квартир и коммерческой недвижимости в Москве, Великобритании, Австрии, Монако, Швейцарии, Франции, Германии и Чехии. 
        </div>
        <div class="hero__actions">
          <div class="hero__question-btn">
            {{ mixins.animatedMainBtn() }}
          </div>
          <div class="hero__play">
            {{ mixins.playBtn() }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

