<section class="section section_investment" data-anchor="investment">
  <div class="section__outer outer">
    <div class="section__inner inner" style='background-image: url(img/invest_bg_1.png);'>
      <div class="outer__trigger js-section-investment"></div>
      <div class="section__left section__left_border">
        
      </div>
      <div class="section__right text-light">
        <div class="section__title-md">
          <h2 class="title">Инвестиции в жилую и коммерческую недвижимость</h2>
        </div>
        <div class="section__text text-block">
          <p>
            В портфолио наших инвестиционных проектов коммерческой недвижимости офисы, отели, особняки, склады и лучшие объекты жилищного фонда в Москве и Европе. 
          </p>
          <p>
            С нами клиент выгодно инвестирует и в элитную жилую недвижимость, надежно сохранив заработанные деньги.
          </p>
        </div>
        <div class="section__download-btn-wrapper">
          <div class="section__download-btn-area js-download-field">{{ mixins.downloadBtn() }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
