{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro playBtn() %}
<a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="circle-btn circle-btn_play js-fancybox" data-anim="button-anim">
  <span class="circle-btn__icon">
    <svg width="51px" height="51px" viewBox="0 0 51 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill-rule="nonzero" class='normal'>
              <path class="normal-circle" d="M25.5,1.5 C12.2522847,1.5 1.5,12.2522847 1.5,25.5 C1.5,38.7477153 12.2522847,49.5 25.5,49.5 C38.7477153,49.5 49.5,38.7477153 49.5,25.5 C49.5,12.2522847 38.7477153,1.5 25.5,1.5 Z" stroke="#FFF" stroke-width="2"></path>
              <path class="normal-image" d="M34.1,26.8 L21.6,34.6 C21.3,34.8 21.1,34.8 20.8,34.8 C20.5,34.8 20.3,34.7 20,34.6 C19.5,34.3 19.2,33.8 19.2,33.2 L19.2,17.7 C19.2,17.1 19.5,16.6 20,16.3 C20.5,16 21.1,16 21.6,16.3 L34.1,24.1 C34.6,24.4 34.8,24.9 34.8,25.4 C34.8,25.9 34.6,26.5 34.1,26.8 Z"  fill="#FFF"></path>
          </g>
          <g class="hovered hovered_white">
              <path d="M25.5,0.5c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25S39.3,0.5,25.5,0.5z M34.1,26.8l-12.5,7.8c-0.3,0.2-0.5,0.2-0.8,0.2c-0.3,0-0.5-0.1-0.8-0.2c-0.5-0.3-0.8-0.8-0.8-1.4V17.7
                c0-0.6,0.3-1.1,0.8-1.4c0.5-0.3,1.1-0.3,1.6,0l12.5,7.8c0.5,0.3,0.7,0.8,0.7,1.3S34.6,26.5,34.1,26.8z"/>
            </g>
      </g>
    </svg>
  </span>
  <span class="circle-btn__text circle-btn__text_animated">Смотреть видео основателя</span>
</a>

{% endmacro %}

{% macro animatedMainBtn(props) %}
  <a href="#" class="btn btn_animated {{ props.modifier }}" data-modal-control="contacts-modal" data-anim="button-anim">
    <span class="btn__line"></span>
    <span class="btn__line"></span>
    <span class="btn__line"></span>
    <span class="btn__line"></span>
    <span class="btn__text">{{ props.text }}</span>
  </a>
{% endmacro %}

{% macro downloadBtn() %}
  <button class="circle-btn circle-btn_download js-download-btn" data-anim='button-anim'>
    <span class="circle-btn__icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 51 51">
        <!-- <g class='hovered hovered_blue'>
          <path d="M25.5,0.5c-13.8,0-25,11.2-25,25c0,13.8,11.2,25,25,25s25-11.2,25-25C50.5,11.7,39.3,0.5,25.5,0.5z M21,23.9
          c0.3-0.3,0.9-0.3,1.2,0l2.4,2.4V14.9c0-0.5,0.4-0.9,0.9-0.9s0.9,0.4,0.9,0.9v11.3l2.3-2.3c0.3-0.3,0.9-0.3,1.2,0
          c0.3,0.3,0.3,0.9,0,1.2l-3.6,3.6c-0.1,0.3-0.4,0.5-0.8,0.5c-0.3,0-0.6-0.2-0.8-0.5L21,25.1C20.7,24.8,20.7,24.2,21,23.9z M36.2,34.8
          H14.8c-0.5,0-0.9-0.4-0.9-0.9s0.4-0.9,0.9-0.9h21.5c0.5,0,0.9,0.4,0.9,0.9C37.1,34.4,36.7,34.8,36.2,34.8z"/>
        </g> -->
        <g class='normal normal_blue'>
          
          <path class="normal-circle" d="M25.5,1.5 C12.2522847,1.5 1.5,12.2522847 1.5,25.5 C1.5,38.7477153 12.2522847,49.5 25.5,49.5 C38.7477153,49.5 49.5,38.7477153 49.5,25.5 C49.5,12.2522847 38.7477153,1.5 25.5,1.5 Z" stroke-width="2"></path>
          <g class="normal-download-icon normal-image">
            <path d="M25.5,29.2c-0.5,0-0.9-0.4-0.9-0.9V14.9c0-0.5,0.4-0.9,0.9-0.9s0.9,0.4,0.9,0.9v13.4C26.4,28.8,26,29.2,25.5,29.2z"/>
            <path d="M36.2,34.8H14.8c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h21.5c0.5,0,0.9,0.4,0.9,0.9 C37.1,34.4,36.7,34.8,36.2,34.8z"/>
            <path d="M25.5,29.2c-0.2,0-0.4-0.1-0.6-0.3L21,25.1c-0.3-0.3-0.3-0.9,0-1.2c0.3-0.3,0.9-0.3,1.2,0l3.8,3.8c0.3,0.3,0.3,0.9,0,1.2 C25.9,29.1,25.7,29.2,25.5,29.2z"/>
            <path d="M25.5,29.2c-0.2,0-0.4-0.1-0.6-0.3c-0.3-0.3-0.3-0.9,0-1.2l3.8-3.8c0.3-0.3,0.9-0.3,1.2,0c0.3,0.3,0.3,0.9,0,1.2 l-3.8,3.8C25.9,29.1,25.7,29.2,25.5,29.2z"/>
          </g>
        </g>
      </svg>
    </span>
    <span class="circle-btn__text circle-btn__text_hidden">
      скачать каталог
    </span>
  </button>
{% endmacro %}

{% macro connectionBtn(iconname, modifier, animModifier) %}
  <a href="#" class="circle-btn {% if modifier %} circle-btn_{{modifier}} {% endif %}js-animated-btn" {% if animModifier %}{{ animModifier }}{% endif %}>
    <span class="circle-btn__icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 51 51">
      <path class="circle-btn__circle" d="M25.5,1.5 C12.2522847,1.5 1.5,12.2522847 1.5,25.5 C1.5,38.7477153 12.2522847,49.5 25.5,49.5 C38.7477153,49.5 49.5,38.7477153 49.5,25.5 C49.5,12.2522847 38.7477153,1.5 25.5,1.5 Z" stroke="#FFF" stroke-width="2"></path>
      </svg>
      <span class="circle-btn__sprite-icon">{{ icon(iconname) }}</span>
    </span>
  </a>
{% endmacro %}