{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro playBtn() %}
<button class="play-btn">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 51 51">
	<g class='normal'>
		<path class="normal-circle" d="M25.5,0.5c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25S39.3,0.5,25.5,0.5z"/>
		<path class="normal-triangle" d="M34.1,26.8l-12.5,7.8c-0.3,0.2-0.5,0.2-0.8,0.2c-0.3,0-0.5-0.1-0.8-0.2c-0.5-0.3-0.8-0.8-0.8-1.4V17.7
			c0-0.6,0.3-1.1,0.8-1.4c0.5-0.3,1.1-0.3,1.6,0l12.5,7.8c0.5,0.3,0.7,0.8,0.7,1.3S34.6,26.5,34.1,26.8z"/>
	</g>
	<!-- <g> -->
	<!-- <path class="st0" d="M25.5,0.5c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25S39.3,0.5,25.5,0.5z M34.1,26.8l-12.5,7.8c-0.3,0.2-0.5,0.2-0.8,0.2c-0.3,0-0.5-0.1-0.8-0.2c-0.5-0.3-0.8-0.8-0.8-1.4V17.7
		c0-0.6,0.3-1.1,0.8-1.4c0.5-0.3,1.1-0.3,1.6,0l12.5,7.8c0.5,0.3,0.7,0.8,0.7,1.3S34.6,26.5,34.1,26.8z"/>
	</g> -->
	</svg>
</button>

{% endmacro %}

{% macro animatedMainBtn() %}
	<button class="btn btn_animated">
			<span class="btn__text">Задать вопрос</span> 
			<?xml version="1.0" encoding="utf-8"?>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 280 80">
			<g>
				<!-- <rect x="0.5" y="0.5" class="st0" width="279" height="79"/> -->
				<!-- <path d="M279,1v78H1V1H279 M280,0H0v80h280V0L280,0z"/>  -->
				<!-- <path d="M280,0 H0v80 h280 V0 L280,0z"/> -->
				<path d="M0,0 h280 v80 L0,80 z"/>
			</g>
			</svg>
	</button>
	
{% endmacro %}