{% macro section(props) %}
  <section class="section section_selling" data-anchor="{{ props.id }}">
    <div class="section__outer outer">
      <div class="section__inner inner">
				<div class="section__left">
					<div class="section__title-lg">
						<h2 class="title-lg">{{ props.title }}</h2> 
					</div>
					<div class="section__text">{{ props.text | safe }}</div>
				</div>
				<div class="section__right">
					<div class="section__bg" style='background-image: url(img/{{ props.bg }});'></div>
				</div>
      </div>
    </div>
  </section>
{% endmacro %}