.btn
  display: inline-block
  min-width: 280px
  padding: 30px 10px 31px
  font-family: $gilroy
  font-size: 16px
  font-weight: 600
  line-height: 1.2
  letter-spacing: -0.006em
  text-align: center
  background: none
  text-transform: uppercase
  transition: color $tr, background-color $tr, border-color $tr
  +xxl
    padding: 22px 10px 23px
    min-width: 230px
  +xl
    padding: 16px 20px 17px
    min-width: 210px
  +lg
    min-width: 190px
  .header &
    +lm
      padding: 10px 15px 
      min-width: 0
      font-size: 13px
  &_blue
    border: 1px solid $blue
    +hover
      background-color: $blue
      .btn__text
        color: $textLight
      &:active
        background-color: #0051c3
    .btn__text
      color: $blue
  &_white
    // border: 1px solid $textLight
    +hover
      background-color: $textLight
      .btn__text
        color: $blue
      &:active
        background-color: $grey
        .btn__text
          color: $blue
    .btn__text
      color: $textLight
  &_solid
    background-color: $textLight
    border: 1px solid $textLight
    transition: background-color $tr
    +hover
      background-color: $white
      &:active
        background-color: $grey
  &_animated
    position: relative
    overflow: hidden
    .btn__text
      opacity: 0
      +md
        opacity: 1
    // svg
    //   +coverdiv
    //   z-index: 2
    //   height: 100%
    //   width: 100%
    //   fill: none
    //   stroke-dasharray: 1432
    //   stroke-dashoffset: 1432
    &.btn_blue
      border: none
      .btn__line
        background-color: $blue
      +hover:active
        .btn__line
          background-color: #0051c3
    &.btn_white
      border: none
      .btn__line
        background-color: $white
      +hover
        .btn__line
          background-color: $textLight
        &:active
          .btn__line
            background-color: $grey
    &.is-animate
      .btn__text
        animation: fadeIn 0.3s 0.6s forwards ease-out
      .btn__line:nth-child(1)
        animation: animateLine 0.2s forwards ease-in-out
      .btn__line:nth-child(2)
        animation: animateLine 0.2s 0.2s forwards ease-in-out
      .btn__line:nth-child(3)
        animation: animateLine 0.2s 0.4s forwards ease-in-out
      .btn__line:nth-child(4)
        animation: animateLine 0.2s 0.6s forwards ease-in-out
  &__text
    position: relative
    z-index: 5
  &__line
    position: absolute
    transition: background-color $tr
    &:nth-child(1),
    &:nth-child(3)
      left: 0
      width: 100%
      height: 2px
    &:nth-child(1)
      top: 0
      transform: translateX(-101%)
      +md
        transform: none
    &:nth-child(3)
      bottom: 0
      transform: translateX(101%)
      +md
        transform: none
    &:nth-child(2),
    &:nth-child(4)
      top: 0
      height: 100%
      width: 2px
    &:nth-child(2)
      right: 0
      transform: translateY(-101%)
      +md
        transform: none
    &:nth-child(4)
      left: 0
      transform: translateY(101%)
      +md
        transform: none

.circle-btn
  background-color: transparent
  font-size: 0
  vertical-align: top
  display: inline-block
  &.is-animate
    .normal-circle,
    .circle-btn__circle
      animation: drawBtn 0.5s forwards ease-in
    .normal-image,
    .circle-btn__sprite-icon
      animation: fadeIn 0.3s 0.4s forwards ease-out
    .circle-btn__text_animated
      animation: fadeIn 0.3s 0.4s forwards ease-out
  +md
    .normal-circle,
    .circle-btn__circle
      animation: drawBtn 0.5s forwards ease-in
    .normal-image,
    .circle-btn__sprite-icon
      animation: fadeIn 0.3s 0.4s forwards ease-out
    .circle-btn__text_animated
      animation: fadeIn 0.3s 0.4s forwards ease-out
  &:hover
    .normal
      +fadeout($tr)
    .hovered
      +fadein
    .circle-btn__text_hidden
      +fadein
      pointer-events: inherit
    .normal_blue
      +fadein
      fill: $blue
    .normal-download-icon
      fill: $white
    .circle-btn__circle
      fill: $white
    .circle-btn__sprite-icon
      color: $blue
  &_grey
    .circle-btn__circle
      stroke: #b6b6b6
    +hover
      .circle-btn__circle
        fill: none
        stroke: $blue
    .circle-btn__sprite-icon
      color: #b6b6b6
  &_play
    +sm
      text-align: center
      .circle-btn__text
        display: block
        position: static
        margin-left: 0
  &__icon
    display: inline-block
    vertical-align: middle
    width: 50px
    height: 50px
    cursor: pointer
    position: relative
    font-size: 0
  &__circle
    stroke: $white
    stroke-width: 2px
    fill: none
    stroke-dasharray: 158
    stroke-dashoffset: 158
    stroke-location: inside
  .normal
    stroke: $white
    stroke-width: 2px
    fill: none
    &_blue
      stroke: $blue
  .normal-circle
    stroke-dasharray: 158
    stroke-dashoffset: 158
    stroke-width: 2px
  .normal-image
    opacity: 0
  .normal-download-icon
    fill: $blue
    stroke: none
  &__sprite-icon
    +vcenter
    opacity: 0
    .icon
      font-size: 20px
  .hovered
    +fadeout(tr)
    &_white
      fill: $white
    &_blue
      fill: $blue
  &__text
    display: inline-block
    vertical-align: middle
    margin-left: 26px
    font-family: $gilroy
    font-size: 16px
    font-weight: 600
    line-height: normal
    letter-spacing: -0.006em
    color: $textLight
    text-transform: uppercase
    opacity: 0
    .circle-btn_download &
      color: $blue
      position: absolute
      top: 50%
      left: 23px
      transform: translateY(-50%)
      min-width: 200px
    &_hidden
      +fadeout(0.6s)
      +md
        +fadein

.message-btn
  display: inline-block
  height: 80px
  width: 80px
  background: transparent
  position: relative
  transition: background-color $tr
  border: 1px solid $blue
  .is-transparent &
    background-color: $textLight
    border: 1px solid $textLight
  &__icon
    +vcenter
    font-size: 0
    .icon
      color: $blue
      font-size: 31px

@keyframes drawBtn
  to 
    stroke-dashoffset: 0

@keyframes fadeIn
  to 
    opacity: 1

@keyframes animateLine
  to
    transform: translate(0, 0)