.btn
  display: inline-block
  min-width: 280px
  padding: 30px 10px 31px
  font-family: $gilroy
  font-size: 16px
  font-weight: 600
  line-height: 1.2
  letter-spacing: -0.006em
  text-align: center
  background: none
  text-transform: uppercase
  transition: color $tr, background-color $tr, border-color $tr
  +xxl
    padding: 22px 10px
    min-width: 230px
  +xxl
    padding: 15px 10px
    min-width: 210px
  &_blue
    border: 1px solid $blue
    +hover
      background-color: $blue
      .btn__text
        color: $textLight
      &:active
        background-color: #0051c3
    .btn__text
      color: $blue
  &_white
    // border: 1px solid $textLight
    +hover
      background-color: $textLight
      .btn__text
        color: $blue
      &:active
        background-color: $grey
        .btn__text
          color: $blue
    .btn__text
      color: $textLight
  &_solid
    background-color: $textLight
    border: 1px solid $textLight
    transition: background-color $tr
    +hover
      background-color: $white
      &:active
        background-color: $grey
  &_animated
    position: relative
    .btn__text
      opacity: 0
    svg
      +coverdiv
      z-index: 2
      height: 100%
      width: 100%
      fill: none
      stroke-dasharray: 1432
      stroke-dashoffset: 1432
    &.btn_blue
      border: none
      svg
        stroke: $blue
    &.btn_white
      border: none
      svg
        stroke: $textLight
    &.is-animate 
      .btn__text
        animation: fadeIn 0.3s 0.3s forwards ease-out
      svg
        animation: drawBtn 0.5s forwards ease-in
  &__text
    position: relative
    z-index: 5
    
.circle-btn
  background-color: transparent
  font-size: 0
  // cursor: default
  &.is-animate
    .normal-circle,
    .circle-btn__circle
      animation: drawBtn 0.5s forwards ease-in
    .normal-image,
    .circle-btn__sprite-icon
      animation: fadeIn 0.3s 0.4s forwards ease-out
    .circle-btn__text_animated
      animation: fadeIn 0.3s 0.4s forwards ease-out
  &:hover
    .normal
      +fadeout($tr)
    .hovered
      +fadein
    .circle-btn__text_hidden
      +fadein
      pointer-events: inherit
    .normal_blue
      +fadein
      fill: $blue
    .normal-download-icon
      fill: $white
    .circle-btn__circle
      fill: $white
    .circle-btn__sprite-icon
      color: $blue
  &_download
    // +vcenter
    // position: absolute

    // .circle-btn__icon:after
    //   content: ''
    //   position: absolute
    //   top: -50px
    //   left: -50px
    //   width: 150px
    //   bottom: -50px
    //   border-radius: 50%
    //   z-index: 1
  &_grey
    .circle-btn__circle
      stroke: #b6b6b6
    +hover
      .circle-btn__circle
        fill: none
        stroke: $blue
    .circle-btn__sprite-icon
      color: #b6b6b6
  &__icon
    display: inline-block
    vertical-align: middle
    width: 50px
    height: 50px
    cursor: pointer
    position: relative
    // &:hover
    //   .normal
    //     +fadeout($tr)
    //   .hovered
    //     +fadein
    //   ~ .circle-btn__text_hidden
    //     +fadein
    //     pointer-events: inherit
    //   .normal_blue
    //     +fadein
    //     fill: $blue
    //   .normal-download-icon
    //     fill: $white
  &__circle
    stroke: $white
    stroke-width: 1px
    fill: none
    stroke-dasharray: 158
    stroke-dashoffset: 158
  .normal
    stroke: $white
    stroke-width: 1px
    fill: none
    &_blue
      stroke: $blue
  .normal-circle
    stroke-dasharray: 158
    stroke-dashoffset: 158
  .normal-image
    opacity: 0
  .normal-download-icon
    fill: $blue
    stroke: none
  &__sprite-icon
    +vcenter
    opacity: 0
    .icon
      font-size: 20px
  .hovered
    +fadeout(tr)
    &_white
      fill: $white
    &_blue
      fill: $blue
  &__text
    display: inline-block
    vertical-align: middle
    margin-left: 26px
    font-family: $gilroy
    font-size: 16px
    font-weight: 600
    line-height: normal
    letter-spacing: -0.006em
    color: $textLight
    text-transform: uppercase
    opacity: 0
    .circle-btn_download &
      color: $blue
      position: absolute
      top: 50%
      left: 23px
      transform: translateY(-50%)
      min-width: 200px
    &_hidden
      +fadeout(0.6s)

@keyframes drawBtn
  to 
    stroke-dashoffset: 0

@keyframes fadeIn
  to 
    opacity: 1
