.adress
  &__city-wrapper
    font-size: 0
    margin-bottom: 16px
    .icon
      vertical-align: middle
      display: inline-block
      margin-bottom: 2px
      margin-right: 16px
      color: $darkBlue
      font-size: 21px
  &__city
    display: inline-block
    vertical-align: middle
    font-weight: 700
    line-height: 1.2
    letter-spacing: -0.006em
    font-size: 21px
  &__phone,
  &__street
    font-family: $gilroy
    font-weight: 300
    line-height: 1

