.sections-wrapper
  position: relative
  overflow-x: hidden

.iScrollIndicator
  background-color: $blue !important

.section
  // height: calc(100vh - 135px) !important
  &__outer
    padding-top: 135px
  &__inner
    height: calc(100vh - 135px)
    // min-height: 100vh
    display: flex
    flex-wrap: wrap
    // margin: 0 -15px
  &__left
    +flex-size(27.5%)
    padding: 0 88px 0 0
    &_border
      position: relative
      &:after
        content: ''
        position: absolute
        right: 0
        top: 45px
        bottom: 37px
        width: 1px
        background-color: $textLight
    &_border-dark
      &:after
        background-color: $text
  &__right
    +flex-size(72.5%)
    padding-left: 156px
    position: relative
  &__splitter-horiz
    height: 1px
    width: 100%
    background-color: $text
    &_white
      background-color: $textLight
  &__title-lg
    margin-bottom: 55px
  &__title-md
    margin-top: 200px
    margin-bottom: 43px
  .section__text
    margin-bottom: 52px
    p:not(:last-child)
      margin-bottom: 28px
  .fp-tableCell
    vertical-align: top
  &_selling
    .section__title-lg
      margin-top: 26px
    .section__left
      +cover
    .section__text
      margin-top: 40px
      margin-bottom: 27px
  &__download-btn-wrapper
    margin-left: -25px
  &__download-btn-area
    position: relative
    display: block
    height: 100px
    width: 100px
    .circle-btn
      backface-visibility: hidden
      position: absolute
      top: 25px
      left: 25px
      z-index: 3
  &__hr-btn
    margin-top: 103px
  &_investment,
  &_career
    .section__inner
      background-color: $darkBg
      background-position: 0 100%
      background-repeat: no-repeat
  &_contacts
    color: $white
    .section__title
      letter-spacing: 0.04em
      line-height: 1.28
    .section__inner
      background-color: $blue
    .section__right
      background-color: $darkBlue
      padding-left: 0
      +vertical
  &__adress
    margin-bottom: 60px
    .adress:not(:last-child)
      margin-bottom: 19px
  &__contacts-title
    margin-top: 100px
    margin-bottom: 42px
  &__connections
    margin-top: 50px
    .connection
      &:not(:last-child)
        margin-bottom: 20px
  &__map
    max-width: 100%
    display: inline-block
    vertical-align: middle

.section_development
  position: absolute
  top: 50vh
  left: 12.1%
  z-index: 3
  width: 100%
  min-height: inherit
  height: calc(100vh - 135px)
  transition: transform 0.5s
  .section__inner
    background-color: $textLight
  .section__left
    +flex-size(44.5%)
  .section__right
    +flex-size(55.5%)
  
  .is-active-investment &
    transform: translateY(50vh)
  .is-active-development &
    transform: translateY(-50vh)

.section_investment
  position: relative
  z-index: 1
  min-height: inherit
  height: calc(100vh - 135px)
  .section__title-md
    max-width: 700px
  // transition: z-index 0.5s
  // +hover
  //   z-index: 10

.section_career
  pointer-events: auto
  min-height: inherit
  height: calc(100vh - 135px)
  position: relative
  z-index: 5
  margin-top: 227px
  .section__outer
    padding-top: 0

.outer
  &__trigger
    position: absolute
    top: 0
    left: 0
    z-index: 5
    width: 235px
    height: 100%

