.fp-enabled
  .fp-tableCell, .header
    +clr

.sections-wrapper
  position: relative
  overflow-x: hidden

.iScrollIndicator
  background-color: $blue !important

.section
  &_investment,
  &_career
    .section__inner
      background-color: $darkBg
      background-repeat: no-repeat
  &_investment
    .section__inner
      background-position: -4px 100%
    .section__left
      +flex-size(32.1%)
  &_career
    pointer-events: auto
    min-height: inherit
    min-height: calc(100vh - 135px)
    position: relative
    z-index: 2
    margin-top: 92px
    +hover
      z-index: 3
    .section__outer
      padding-top: 0
    .section__inner
      background-position: 47px 180px
      background-size: 422px 780px
    .section__left
      +flex-size(32.1%)
  &_contacts
    color: $white
    .section__title
      letter-spacing: 0.04em
      line-height: 1.28
    .section__inner
      padding-left: 77px
      background-color: $blue
    .section__right
      background-color: $darkBlue
      padding-left: 0
      +vertical
  &_development
    height: auto
    position: absolute
    margin-top: 85px
    top: 50vh
    left: 12.1%
    z-index: 1
    width: 100%
    min-height: inherit
    min-height: calc(100vh - 135px)
    +hover
      z-index: 3
    .section__outer
      padding-top: 0
    .section__inner
      padding-left: 77px
      background-color: $textLight
    .section__left
      +flex-size(764px)
  &_investment
    position: relative
    min-height: inherit
    z-index: 0
    +hover
      z-index: 3
    .section__title-md
      max-width: 700px
  &__outer
    padding-top: 135px
  &__inner
    min-height: calc(100vh - 135px)
    display: flex
    flex-wrap: wrap
  &__left
    +flex-size(472px)
    padding: 0 88px 0 0
    &_border
      position: relative
      &:after
        content: ''
        position: absolute
        right: 0
        top: 45px
        bottom: 37px
        width: 1px
        background-color: $textLight
    &_border-dark
      &:after
        background-color: $text
  &__right
    padding-left: 156px
    flex-grow: 1
    position: relative
    .section_contacts &
      overflow: hidden
  &__splitter-horiz
    height: 1px
    width: 100%
    background-color: $text
    &_white
      background-color: $textLight
  &__title-lg
    margin-bottom: 55px
  &__title-md
    margin-top: 200px
    margin-bottom: 43px
  .section__text
    margin-bottom: 39px
    p:not(:last-child)
      margin-bottom: 28px
  .fp-tableCell
    vertical-align: top
  &_selling
    .section__title-lg
      margin-top: 26px
    .section__left
      +cover
    .section__text
      margin-top: 40px
      margin-bottom: 27px
  &__download-btn-wrapper
    margin-left: -25px
  &__download-btn-area
    position: relative
    display: block
    height: 100px
    width: 100px
    .circle-btn
      backface-visibility: hidden
      position: absolute
      top: 25px
      left: 25px
      z-index: 3
  &__hr-btn
    margin-top: 77px
  &__adress
    margin-bottom: 60px
    .adress:not(:last-child)
      margin-bottom: 19px
  &__contacts-title
    margin-top: 60px
    margin-bottom: 42px
  &__connections
    margin-top: 50px
    .connection
      &:not(:last-child)
        margin-bottom: 20px
  &__map-wrap
    position: absolute
    top: 50%
    left: 50%
    width: 1209px
    height: 776px
    margin: -387px 0 0 -691px
  &__map
    max-width: 100%
    display: inline-block
    vertical-align: middle

