.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 28px 0
  z-index: 20
  background-color: $white
  // background-color: red
  transition: background-color 0.5s
  &.is-transparent
    background-color: transparent
    .header__logo
      +fadeout($tr)
    .header__tel
      color: $textLight
  &__inner
    display: flex
    align-items: center
    justify-content: space-between
  &__contacts
    margin-left: 30px
  &__tel
    display: inline-block
    vertical-align: middle
    margin-right: 40px
    color: $blue
  
.nav
  &__list
    display: flex
  &__item
    padding: 0 19px
  &__link
    color: $textBlack

.phone
  font-size: 28px
  font-weight: 700
  letter-spacing: -0.1px

.logo
  img
    display: block
