.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 28px 0
  z-index: 20
  background-color: $white
  transition: background-color 0.5s
  .outer
    +xxl
      min-height: 0
      font-size: 18px
    +xl
      font-size: 16px
  &.is-transparent
    background-color: transparent
    .header__logo
      +fadeout($tr)
    .header__tel
      color: $textLight
  &__inner
    display: flex
    align-items: center
    justify-content: space-between
  &__contacts
    margin-left: 30px
    display: flex
    flex-wrap: wrap
    align-items: center
  &__logo
    font-size: 0
  &__tel
    display: inline-block
    vertical-align: middle
    margin-right: 40px
    color: $blue
  &__burger
    display: none
    position: relative
    z-index: 10
    +md
      display: block

  &__nav
    +md
      position: absolute
      z-index: 2
      top: 0
      left: 0
      min-height: 100vh
      display: flex
      align-items: center
      padding: 40px 40px 40px 20px
      transform: translateX(-101%)
      background-color: $white
      transition: transform $tr
      .is-open &
        transform: translateX(0)

.nav
  &__list
    display: flex
    flex-wrap: wrap
    +md
      flex-direction: column
      min-height: 100%
  &__item
    padding: 0 19px
    +md
      padding: 10px 0
  &__link
    color: $textBlack
    transition: color .3s
    .is-transparent &
      +hover
        color: $white 
    +hover
      color: $blue

.phone
  font-size: 28px
  font-weight: 700
  letter-spacing: -0.1px
  +xl
    font-size: 20px

.logo
  display: inline-block
  img
    max-width: 100%
    display: block
  +xl
    max-width: 180px

.burger 
  width: 27px
  height: 22px
  position: relative
  margin: 50px auto
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    height: 2px
    width: 100%
    background: $textLight
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: background-color .25s ease-in-out
    &:nth-child(1) 
      top: 0px
    &:nth-child(2),
    &:nth-child(3) 
      top: 10px
    &:nth-child(4) 
      top: 20px
  .is-open &
    span
      background-color: $blue
      &:nth-child(1) 
        top: 18px
        width: 0%
        left: 50%
      &:nth-child(2)
        transform: rotate(45deg)
      &:nth-child(3) 
        transform: rotate(-45deg)
      &:nth-child(4)
        top: 18px
        width: 0%
        left: 50%