.hero
  +cover
  &__outer
    height: 100%
    padding-top: 93px
    padding-bottom: 50px
  &__content
    // width: 50%
    width: 854px
  &__logo
    margin-bottom: 100px
  &__title
    color: $textBlack
    margin-right: -10px
  &__descr
    max-width: 590px
    margin-bottom: 50px
    font-size: 21px
    line-height: 1.43
    letter-spacing: -0.1px
    color: $textLight
  &__actions
    display: flex
    align-items: center
  &__question-btn
    margin-right: 80px