.hero
  +cover
  &__outer
    height: 100%
    padding-top: 93px
    padding-bottom: 50px
  &__content
    // width: 50%
    width: 854px
  &__logo
    margin-bottom: 100px
  &__title
    color: $textBlack
    margin-right: -10px
    margin-bottom: 43px
  &__descr
    // max-width: 590px
    margin-bottom: 87px
    // font-size: 21px
    
    line-height: 1.555
    letter-spacing: -0.1px
    color: $textLight
  &__actions
    display: flex
    align-items: center
  &__question-btn
    margin-right: 93px