.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-map-marker {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-map {
  width: 0.81em;
  height: 1em;
  fill: currentColor;
}
.icon-skype {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-whatsapp {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
}
